@model Vidly.Models.Customer
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail Customer</h2>

<p>@Model.Name</p><br/>
<p>* MembershipTypes : @Model.MembershipTypes.Name</p><br/>
@if (Model.BirthDate is null)
{
    <p></p>
}
else
{
    <p>* Birth date : @Model.BirthDate</p>
}
